apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: metallb-system
data:
  config: |
    address-pools:
    - name: {{ metallb.addressPool.name }}
      protocol: layer2
      addresses:
      - {{ metallb.addressPool.start }}-{{ metallb.addressPool.end }}

